{{ define "main" }}
  {{ if eq .Type "blog" }}
    <h1>{{ .Title }}</h1>

    <content>
      {{ .Content }}
    </content>

    {{/* Format date: full date if less than 1 year old, year only if older */}}
    {{- $now := now -}}
    {{- $postDate := .Date -}}
    {{- $yearsDiff := div (sub $now.Unix $postDate.Unix) 31536000 -}}
    {{- $dateStr := "" -}}
    {{- if lt $yearsDiff 1 -}}
      {{/* Less than 1 year: show "10 января" */}}
      {{- $monthNames := dict "January" "января" "February" "февраля" "March" "марта" "April" "апреля" "May" "мая" "June" "июня" "July" "июля" "August" "августа" "September" "сентября" "October" "октября" "November" "ноября" "December" "декабря" -}}
      {{- $monthEn := $postDate.Format "January" -}}
      {{- $day := $postDate.Format "2" -}}
      {{- $monthRu := index $monthNames $monthEn -}}
      {{- $dateStr = printf "%s %s" $day $monthRu -}}
    {{- else -}}
      {{/* 1 year or older: show only year */}}
      {{- $dateStr = $postDate.Format "2006" -}}
    {{- end -}}

    <p class="post-meta-inline">
      <span class="post-date">{{ $dateStr }}</span>&nbsp;&nbsp;
      {{ with .GetTerms "tags" }}
        <span class="post-tags">
          {{- range $index, $term := . -}}
            {{- if gt $index 0 }} {{ end -}}
            <a href="{{ $term.Permalink }}">{{ $term.LinkTitle }}</a>
          {{- end -}}
        </span>
      {{ end }}
    </p>

    {{/* Social sharing buttons */}}
    <div class="likely" data-url="{{ .Permalink | absURL }}" data-title="{{ .Title }}">
      <div class="telegram">Отправить</div>
      <div class="twitter">Твитнуть</div>
      <div class="facebook">Поделиться</div>
      <div class="vkontakte">Поделиться</div>
      <div class="linkedin">Линкануть</div>
    </div>

    {{/* Telegram Discussion comments */}}
    {{ with .Params.telegram_post }}
    <div style="margin-left: -13px; margin-right: -13px;">
      <script async src="https://telegram.org/js/telegram-widget.js?22"
        data-telegram-discussion="pmgen/{{ . }}"
        data-comments-limit="20">
      </script>
    </div>
    {{ end }}

    {{ if (.Param "enablePostNavigator")}}
      {{- partial "post_navigator.html" . -}}
    {{ end }}
  {{ else }}
    <h1>{{ .Title }}</h1>
    <content>
      {{ .Content }}
    </content>
  {{ end }}
{{ end }}
