<style>
/* Inter font faces - local files */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('{{ "fonts/inter-v20-cyrillic_cyrillic-ext_latin_latin-ext-200.woff2" | relURL }}') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('{{ "fonts/inter-v20-cyrillic_cyrillic-ext_latin_latin-ext-300.woff2" | relURL }}') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('{{ "fonts/inter-v20-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2" | relURL }}') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('{{ "fonts/inter-v20-cyrillic_cyrillic-ext_latin_latin-ext-500.woff2" | relURL }}') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('{{ "fonts/inter-v20-cyrillic_cyrillic-ext_latin_latin-ext-600.woff2" | relURL }}') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('{{ "fonts/inter-v20-cyrillic_cyrillic-ext_latin_latin-ext-700.woff2" | relURL }}') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('{{ "fonts/inter-v20-cyrillic_cyrillic-ext_latin_latin-ext-300italic.woff2" | relURL }}') format('woff2');
}
</style>
