<div class="header-container{{ if .IsHome }} home-page{{ end }}">
  <a href="{{ .Site.Home.RelPermalink }}" class="title{{ if .IsHome }} title-selected{{ end }}"{{ if .IsHome }} aria-current="page"{{ end }}>
    <div class="title-avatar-container">
      <img src="{{ "images/avatar1.webp" | relURL }}" alt="{{ .Site.Params.authorName | default .Site.Params.author }}" class="title-avatar title-avatar-default" loading="eager" decoding="sync" width="45" height="45">
      <img src="{{ "images/avatar2.webp" | relURL }}" alt="" class="title-avatar title-avatar-hover" loading="lazy" decoding="async" width="45" height="45">
    </div>
    <span class="title-text">{{ if eq .Language.Lang "en" }}<span class="title-first-name">Konstantin </span><span class="title-last-name">Zavarov</span>{{ else }}<span class="title-first-name">Константин </span><span class="title-last-name">Заваров</span>{{ end }}</span>
  </a>
  <button class="mobile-menu-toggle" aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <nav class="main-nav">{{- partial "nav.html" . -}}</nav>
</div>
